<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

    <title>신성KD 홈페이지 방문을 감사드립니다^_^</title>
    <link rel="stylesheet" href="@Url.Content("~/js/css/lightbox.css")" type="text/css" media="screen">

    <style type="text/css">
        @@font-face {
            font-family: nanum;
            src: url(NanumGothic.eot)
        }

        @@font-face {
            font-family: nanumEB;
            src: url(NanumGothicEBWeb.eot)
        }

        @@font-face {
            font-family: nanumMJ;
            src: url(NANUM_MJ.eot)
        }
    </style>


    <link rel="stylesheet" href="@Url.Content("~/css/beautynia_webfont.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/beautynia_user.css")" type="text/css">


    <!--일반폰트일때
    <link rel="stylesheet" href="@Url.Content("~/css/beautynia.css")" type="text/css">
    -->



    <script language="javascript" src="@Url.Content("~/lib/set_menu.js")"></script>

    <script language="JavaScript" type="text/JavaScript">
<!--
        /***********************************
        / 이미지 사이즈본문 크기에 맞추기
        /***********************************/
        function autoImageSize(size) {
            var OImg = event.srcElement;
            if (OImg.offsetWidth > size) OImg.width = size;
        }


        //-->
    </script>
    <script language="javascript" src="@Url.Content("~/flash.js")"></script>

    <script type="text/javascript">
<!--

        function popmail_all() {
            window.open("allmail.php?tomail=&name=", "", "width=413, height=550, top=10,left=549");
        }

        function popphone_all() {
            window.open("../sms8282/allsendsms.php?to=&from=&search_key=&search_wrd=&search_wrd2=&last_date=", "", "width=627, height=637, top=50,left=300");
        }

        function popphone() {
            window.open("../sms8282/sendsms.php?to=", "", "width=627, height=637, top=50,left=300");
        }

        function popmail() {
            window.open("mail.php?tomail=&name=", "", "width=413, height=550, top=10,left=549");
        }


        function deldel_hugi(a) {
            window.open('mall/ddboarddel_hugi.php?ddno=' + a, '', 'width=300,height=170,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }
        function ddboardmody_hugi(a) {
            window.open('mall/ddboardmody_hugi.php?ddno=' + a, '', 'width=600,height=270,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }

        function deldel_qna(a) {
            window.open('mall/ddboarddel_qna.php?ddno=' + a, '', 'width=300,height=170,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }
        function ddboardmody_qna(a) {
            window.open('mall/ddboardmody_qna.php?ddno=' + a, '', 'width=600,height=270,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }

        function anan_hugi(a) {
            window.open('mall/ddboardan_hugi.php?ddno=' + a, '', 'width=600,height=270,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }
        function anan_qna(a) {
            window.open('mall/ddboardan_qna.php?ddno=' + a, '', 'width=600,height=270,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }
        function deldel(a) {
            window.open('mall/ddboarddel.php?ddno=' + a, '', 'width=300,height=170,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }
        function ddboardmody(a) {
            window.open('mall/ddboardmody.php?ddno=' + a, '', 'width=600,height=270,toolbars=no,scrollbars=no,resize=yes,top=230,left=350');
        }


        function regist2(a, w, h) {
            clientWidth = screen.width;
            clientWidth = clientWidth - w;

            clientHeight = screen.height;
            clientHeight = clientHeight - h;
            window.open(a, "", "width=" + w + ",height=" + h + ",top=" + (clientHeight / 2 - 15) + ",left=" + (clientWidth / 2 - 15) + " scrollbars=1");
        }


        function regist(a, w, h) {
            clientWidth = screen.width;
            clientWidth = clientWidth - w;

            clientHeight = screen.height;
            clientHeight = clientHeight - h;
            window.open(a, "", "width=" + w + ",height=" + h + ",top=" + 100 + ",left=" + 100 + " scrollbars=1");
        }


        function logout() {
            location = 'member/logout.php';
        }

        function popphone() {
            window.open("admin/mainsendsms.php", "", "width=165, height=370, top=10,left=549");
        }

        function daychange(ca, d) {
            window.open('doc/dayc.php?no=' + ca + '&bbstable=' + d, '', 'width=440, height=200, top=10, left=10, scrollbars=yes')
        }
        function jochange(ca, d) {
            window.open('doc/joc.php?no=' + ca + '&bbstable=' + d, '', 'width=440, height=200, top=10, left=10, scrollbars=yes')
        }

        function bt(id, after) {
            eval(id + '.filters.blendTrans.stop();');
            eval(id + '.filters.blendTrans.Apply();');
            eval(id + '.src="' + after + '";');
            eval(id + '.filters.blendTrans.Play();');
        }

        //-->
    </script>









    <script language="JavaScript">

<!--

        function notice_getCookie(name) {
            var nameOfCookie = name + "=";
            var x = 0;
            while (x <= document.cookie.length) {
                var y = (x + nameOfCookie.length);
                if (document.cookie.substring(x, y) == nameOfCookie) {
                    if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                        endOfCookie = document.cookie.length;
                    return unescape(document.cookie.substring(y, endOfCookie));
                }

                x = document.cookie.indexOf(" ", x) + 1;
                if (x == 0) break;
            }

            return "";
        }

            //-->
    </script>



    <title>새 페이지 1</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
    
    @Html.Partial("_HeaderInforHome")
    @RenderBody()
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" bgcolor="#f1f1f1">
                    <table border="0" width="1000" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" height="100">
                                    <p align="center">
                                        <br>
                                        COMPANY : SHIN SUNG KD | B/N : 111-31-97342 <br>
                                        TEL : 031-968-5801 | FAX : 031-968-5802<br>
                                        ADDRESS : First factory - 206-39 Gyeondalsallo Ilsandong-gu Koyang-si Kyungki-do Korea <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp; Second factory - 76-61 Dongsan-dong Dukyang-gu Koyang-si Kyungki-do Korea <br>
                                        <br>
                                        Copyright ⓒ 2007~~~ SINCE 2016 / Brand-ARIARA＠ All rights reserved.&nbsp;&nbsp;
                                        <span style="background-color: #CCCCCC">
                                            <a target="_blank" href="admin">admin</a>
                                        </span><br>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>





</body>
</html>